<!DOCTYPE html>
<html>
<head>
    <title>$page.title – $space.Name</title>

    $include.template("include-htmlhead.vm")

</head>

<body>
<div class="pageall">
<!-- puregrid STARTS here -->
<div class="pure-g-r">
<!-- +++++++++++++++++++++ -->

        $include.template("include-header.vm")

    <div class="pure-u-2-3">
 <div class="blog-post-item">
                    
           <div class="clearfix"></div>
           <h1>$page.title</h1>
           
           #set ($authorFullName = $user.fullName($page.author))
           <div class="author-image">
                <a href="$link.to.page($authorFullName)"><img src="${contextPath}$user.image($page.author)"></a>
            </div>
                <div class="blog-post-meta">
				<span class="blog-post-author">
					<a href="$link.to.page($authorFullName)">$authorFullName</a>
				</span>
				<span class="blog-post-date"> posted on $page.creationDate("MMM dd, yyyy")</span></div>
				
				<!-- AddThis Button BEGIN -->
									<div class="addthis_toolbox addthis_counter_style" style="left:50px;top:50px;">
									<div class="btnBorder1"><a class="addthis_button_tweet" tw:count="vertical"></a></div>
									<div class="btnBorder2"><a class="addthis_button_facebook_like" fb:like:layout="box_count"></a></div>
									<div class="btnBorder3"><a class="addthis_button_google_plusone" g:plusone:size="tall"></a></div>
									<div class="btnBorder4"><a class="addthis_button_linkedin_counter" li:counter="top"></a></div>
									</div>
									<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
									<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f11ce9434702e8"></script>
									<!-- AddThis Button END -->
									<div class="clearfix"></div>
                
                 
                
                  <div>
                    $page.renderContent("layouts/layoutAbel.vm", {
                    "info" : "overrides/admonitions.vm",
                    "tip" : "overrides/admonitions.vm",
                    "warning" : "overrides/admonitions.vm",
                    "note" : "overrides/admonitions.vm",
                    "code" : "overrides/panels.vm",
                    "panel" : "overrides/panels.vm",
                    "noformat" : "overrides/panels.vm"
                    })

                </div>
                <div class="blog-item-nav">
                    <p>
                            #if($!page.prev.link)
                                <a href="$page.prev.link" class="previousPost">Previous</a>
                            #end
                            #if($!page.prev.link && $!page.next.link)
                                <span></span>
                            #end
                            #if($!page.next.link)
                                <a href="$page.next.link" class="nextPost">Next</a>
                            #end
                        </p>
                 </div>       
        
            
            #* disqus *#
            
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'thelanguageofcontentstrategy'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
    
            
            
            
            </div>
            </div>
            
            <div class="pure-u-1-3">
                <div class="sidebar">
                    $include.template("include-blogsidebar.vm")
                </div>          
            </div>
                        

        $include.template("include-footer.vm")

<!-- puregrid ENDS here -->
</div>
<!-- +++++++++++++++++++++ -->
</div>

    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'thelanguageofcontentstrategy'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    
</body>

</html>